<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LifeisTech!HaloWeenNight</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <div class="top_illust">
        <img class="flag_left" src="images/flag_left.png" alt="">
        <img class="flag_right" src="images/flag_right.png" alt="">
        <img class="haloween" src="images/haloween.png" alt="">
        <img class="ya-niro_right" src="images/ya-niro_right.png" alt="">
        <img class="ya-niro_left" src="images/ya-niro_left.png" alt="">
    </div>

    <ul class="rankings">
        <li class="ranking 1st">1位</li>
        <li class="ranking 2nd">2位</li>
        <li class="ranking 3rd">3位</li>
        <li class="ranking 4th">4位</li>
        <li class="ranking 5th">5位</li>
    </ul>



    <ul class="subrankings">
        <li class="subranking 6th">6位</li>
        <li class="subranking 7th">7位</li>
        <li class="subranking 8th">8位</li>
        <li class="subranking 9th">9位</li>
        <li class="subranking 10th">10位</li>
    </ul>


    <div class="images">
        <div class="result">
            <img src="images/result.png" alt="">
            <h2>○○</h2>
        </div>
        <img class="lit" src="images/lit.png" alt="">
        <img class="house" src="images/house.png" alt="">
    </div>


</body>

</html>